/* font for this web site  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.unick {
    font-family: "Parisienne", cursive;
}

/* common css */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

section {
    max-width: 1440px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.continer {
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 6.2rem;
}

.mainColor {
    background-color: rgb(230, 83, 60);
}

.mainhading {
    color: #fff;
}

.maintext {
    color: rgba(255, 255, 255, 0.5)
}

.text-center {
    text-align: center;
}

.subtitle {
    margin-top: 1rem;
    line-height: 24px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.mt{
    margin-top:0.5rem;
}
/* banner start  */
.banner {
    background: linear-gradient(rgba(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(43, 42, 42, 0.8) 40%, rgba(17, 17, 17, 1) 75%, rgba(0, 0, 0) 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 2rem;
}

.icon {
    color: #fff;
    font-size: 1.7rem;
    display: none;
}

.active {
    color: #fff;
    padding: 8px 20px;
    border-radius: 3rem;
}

.logo {
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}

 nav ul {
    display: flex;
    gap: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 11px 4px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.banner-hader {
    color: rgb(255, 255, 255);
    font-size: 4.9rem;
    font-weight: 900;
}

.banner-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 1.6rem 0;
}

.btn {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 1rem 2.9rem;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.btn_nocolor {
    margin-left: 0.9rem;
    border: 1px solid #fff;
    border-radius: 42px;
    background-color: black;
    padding: 1rem 2.9rem;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.imgbox {
    position: relative;
}

.box1 {
    position: absolute;
    top: 165px;
    left: 169px;
    width: 10rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem;
}

.box2 {
    position: relative;
    bottom: 90px;
    right: 150px;
    width: 10rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    gap: 10px;
}

.icon-play {
    color: #fff;
    background: rgb(230, 83, 60);
    border-radius: 30px;
    font-size: 2rem;
}

.card {
    margin-top: 3rem;
}

.round {
    border-radius: 50%;
    margin-bottom: 2rem;
}

.run-img {
    width: 366px;
    height:312px;
    border-radius: 18px;
}
.run-box{
    padding: 2rem 3.2rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.bmi-box{
    background-color: rgb(34, 34, 34);
    margin-top:3rem;
    padding-bottom:0.5rem;
}
table,tbody,tr,th,td{
    margin-top: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: center;
    padding: 18px 15px;
    color: rgba(255, 255, 255, 0.5);
}
.input-box{
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
input{
    outline: none;
    padding:12px 40px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.select-box{
    outline: none;
    padding:12px 40px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.6);
}
.activity-box{
    outline: none;
    padding:12px 40px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.6);
    margin: 1rem 0;
    width: 100%;
}
.trainer-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding:20px;
    margin-top: 20px;
}
.trainer-box img{
    width: 320px;
    height:270px;
    border-radius:1rem;
}
.inner-box{
    color: #fff;
    position: relative;
}
.content-box{
    position: absolute;
    bottom: 30px;
    padding-left:0.5rem;
}
.content-box p{
    color: rgba(255, 255, 255, 0.5);
}
.footer-box{
    padding-top:40px;
}
.gap{
    gap:120px;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 1060px;
    margin: 0 auto;
}
.mb{
    margin-bottom: 20px;
}